.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.QuestionCardView {
  background: linear-gradient(
    to right top,
    rgba(0,0,0,0.65),
    rgba(0,0,0,0.35)
  );
  border-radius: 6px;
  width:auto;
  height:auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: center;
  color: whitesmoke;
  margin: 0.15em;
  box-shadow: -30px 30px 20px rgba(0,0,0,0.35);
}

.Container {
  margin: 0.5em;
  display: flex;
  flex-direction: column;
  height: auto;
  min-width: 450px;

}

.Container-inputs {
  display: flex;
}

.Container-inputs input {
  width: 75%;
}

.Container-inputs button {
  width: 25%;
}

.Question {
  margin: 1.5px;
  border-radius: 4px;
  color: #666;
  background: whitesmoke;
  height: auto;
  min-width: 450px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Question input {
  margin-left: 0.5em;
}

.Question p {
  margin-right: 0.5em;
  margin-left: 0.5em;
}

.Question button {
  margin: 0.5em;
}