.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.QuestionCardView {
  background: linear-gradient(
    to right top,
    rgba(0,0,0,0.65),
    rgba(0,0,0,0.35)
  );
  border-radius: 6px;
  width:auto;
  height:auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: whitesmoke;
  align-self: center;
  align-items: center;
  margin: 0.55em;
  box-shadow: -30px 30px 20px rgba(0,0,0,0.35);
}

.Container {
  margin: 0.5em;
  display: flex;
  flex-direction: column;
  height: auto;
  min-width: 95%;
}

.Question {
  margin: 1.5px;
  border-radius: 4px;
  background: whitesmoke;
  height: auto;
  width: auto;
  padding: 2px;
  display: flexbox;
}


.InputKysymys {
  background: transparent;
  margin: 0.35em;
  color: whitesmoke;
}
